<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Printing Shapes</title>
    <script src="box.js"></script>
</head>
<body>

<h2>Box Shape</h2>

<label for="width" > Enter width</label>
<input id="width" name="width" type="text">

<label for="height" > Enter Height</label>
<input id="height" name="height" type="text">


<!--<label for="size" > Enter Size</label>-->
<!--<input id="size" name="size" type="text">-->

<pre id="upsidedown"></pre>

<button onclick="upsidedowntrapezoid()"> click me</button>



</body>
</html>