.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    line-height: 160px; /* Centering the text vertically */
}

.box {
    background-color: green;
    transition-property: background-color;
    transition-duration: 2s;
}

.box:hover {
    background-color: lightskyblue;
}